.vs/

Desafio-NEGOCIE.Api/bin/

Desafio-NEGOCIE.Api/obj/

Desafio-NEGOCIE.Application/bin/

Desafio-NEGOCIE.Application/obj/

Desafio-NEGOCIE.Domain/bin/

Desafio-NEGOCIE.Domain/obj/

Desafio-NEGOCIE.Infrastructure/bin/

Desafio-NEGOCIE.Infrastructure/obj/

Desafio-NEGOCIE.Contracts/bin/

Desafio-NEGOCIE.Contracts/obj/
.fake